/**********************************tag selectors**********************************/
 body{
             background-color: beige;   
            }
            hr{
                color: burlywood;
             background-color: none;
             border-style: dotted none none;
             border-width: 5px;
             height: 0px;
             width: 10%;
            }
            h1{
                color: brown;
                font: bold;
                font-style: oblique;
                text-align: center;
            }
            h3{
                color: brown;
                font: bold;
                font-style: oblique;
                text-align: center;
            }
            p{
                color: darkgoldenrod;
                text-align: center;
            }
            table{
                margin: auto;
                align-items: center;
                text-align: center;
            }
            ol{
                margin: auto;
                text-align: center;
                list-style-position: inside;
            }
            form{
                text-align: center;
            }
            img{
                border: 1cm;
            }
            
            
/**********************************class selectors**********************************/
.color:hover{
    background-color: goldenrod;
}
.date{
    color: darksalmon;
}
.job{
    color: indianred;
}
.skill{
    color: peru;
}
.data{
    color: darksalmon;
}
/**********************************id selectors**********************************/
#heading{
    color: rgb(211, 57, 57);
}
#her{
    color: lightcoral;
}
#date{
    color: chocolate;
}
#work{
    color: chocolate;
}
      